// PT SANS
@font-face {
  font-family: 'PT Sans Regular';
  src: url('./fonts/PTS55F-webfont.woff') format('woff'),
       url('./fonts/PTS55F-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url('./fonts/PTS75F-webfont.woff') format('woff'),
       url('./fonts/PTS75F-webfont.ttf') format('truetype');
}

//PT SERIF
@font-face {
  font-family: 'PT Serif Regular';
  src: url('./fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

// DUPLEX SANS
@font-face {
  font-family: 'Duplex Sans Regular';
  src: url('./fonts/Duplex_Sans_Web-Regular.woff') format('woff'),
       url('./fonts/Duplex_Sans_Web-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Duplex Sans Semibold';
  src: url('./fonts/Duplex_Sans_Web-Semibold.woff') format('woff'),
       url('./fonts/Duplex_Sans_Web-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Duplex Sans Bold';
  src: url('./fonts/Duplex_Sans_Web-Bold.woff') format('woff'),
       url('./fonts/Duplex_Sans_Web-Bold.ttf') format('truetype');
}
