.settings {
  flex: 0 0 100px;

  padding: 10px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
  overflow: hidden;
}

.li {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  color: #fff;
  background-color: #2C3E50;
}

.input {
  display: block;
  width: 100%;
}


