// Grid
$gutter: 10px;
$mediumMedia: 641px;
$mediumGutter: 20px;
$largeMedia: 1025px;
$largeGutter: 20px;

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex: 1 auto;
  margin: 0 auto;
  max-width: 1200px;
}

.cell {
  flex: 0 0 100%;
}

@mixin flexClasses($spanType, $gutter) {
  .#{$spanType} {
    &-grid > &-grid,
    &-grid * &-grid {
      margin-left: -$gutter / 2;
      margin-right: -$gutter / 2;
    }

    &-grid > &-cell > &-grid {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }

    &-cell {
      padding: 0 $gutter / 2;
      &-full {
        flex: 1;
      }

      &-half {
        flex: 0 50%;
      }

      &-third {
        flex: 0 33.33%;
      }

      &-quarter {
        flex: 0 25%;
      }
    }

    &-grid {
      padding: 0 $gutter / 2;
    }
  }
}

@mixin spaceClasses($spacers) {
  $large: nth($spacers, 1);
  $medium: nth($spacers, 2);
  $small: nth($spacers, 3);

  .margin-bottom-large { margin-bottom: $large; }
  .margin-bottom-medium { margin-bottom: $medium; }
  .margin-bottom-small { margin-bottom: $small; }
  .margin-top-large { margin-top: $large; }
  .margin-top-medium { margin-top: $medium; }
  .margin-top-small { margin-top: $small; }
}

$spans:
  ('small', false, $gutter, (30px, 20px, 10px)),
  ('medium', 641px, $mediumGutter, (40px, 30px, 20px)),
  ('large', 1025px, $largeGutter, (50px, 40px, 30px));

@each $span in $spans {
  $spanType: nth($span, 1);
  $minWidth: nth($span, 2);
  $gutter: nth($span, 3);
  $spacers: nth($span, 4);

  @if $minWidth == false {
    @include flexClasses($spanType, $gutter);
    @include spaceClasses($spacers);
  } @else {
    @media screen and (min-width: $minWidth) {
      @include flexClasses($spanType, $gutter);
      @include spaceClasses($spacers);
    }
  }
}
